<configuration debug="true" scan="true"
               scanPeriod="10 seconds">
    <appender name="consoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <logger name="ch.qos.logback.classic" level="WARN" />
    <root level="TRACE">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>